.app__welcome {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  @media screen and (max-width: 425px) {
    // flex-direction:column;
  }
}

.welcome__gallery {
  width: 40%;
//   outline: 2px solid red;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  img:nth-child(1),
  img:nth-child(4) {
    transform: scale(0.6);
  }
  img:nth-child(2),
  img:nth-child(3) {
    transform: scale(1);
  }

  img {
    //   box-shadow: 0 0 20px rgba(0,0,0,0.5);
    // box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    // outline:2px solid blue;
    width: 45%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0.5rem;//testing
  }

  @media screen and (max-width: 768px) {
    width: 100%;

    img {
      width: 150px;
    }
  }
  @media screen and (min-width: 2000px) {
    width: 40%;
  }
}
