nav {
  // backdrop-filter: blur(5px);
  position: fixed;
  top: 0px;
  z-index: 1;
  
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
  
  // background: rgba(0, 0, 0, 0.4);
  background-color: black; 
  @media screen and (max-width: 450px) {
    background-color: black;
  }
}

.navbar {
  // outline:2px solid cyan;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  color: var(--orange);
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  li {
    font-family: var(--font-secondary);
    margin: 0 1rem;
    text-transform: uppercase;

    a {
      color: white;
      transition: 0.2s ease-in-out;

      &:hover {
        color: var(--orange);
      }
    }

    @media screen and (max-width: 600px) {
      margin: 0 0.5rem;
      font-size: 0.8rem;
    }
    @media screen and (min-width: 2000px) {
      margin: 0 4rem;
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 425px) {
    display: none;
  }
}

.navbar__toggleMenu-icon {
  display: none;
  color: white;
  width: 20px;
  height: 20px;
  margin: 0 0.5rem;
  cursor: pointer;

  @media screen and (max-width: 425px) {
    display: block;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.navbar__menu-dropdown {
  margin-top: 0.5rem;
  border-radius: 5px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  li {
    font-family: var(--font-secondary);
    margin: 0.5rem;
    // margin-top:0;
    text-transform: uppercase;
    font-size: 0.8rem;

    a {
      color: white;
      transition: 0.2s ease-in-out;

      &:hover {
        color: var(--orange);
      }
    }
  }

  @media screen and (max-width: 425px) {
    background-color: var(--matt-black);
  }
}
