.app__ordHist {
  flex-direction: column;
  padding: 6rem 0.5rem;
  background-color: var(--light-blue);

  @media screen and (min-width: 2000px) {
    padding: 9rem 1rem;
  }
}
.ordHist-itemsList {
  width: 100%;
  max-width: 500px;
  margin-top: 2rem;

  @media screen and (min-width: 2000px) {
    max-width: 1200px;
  }
}
.ordHist__item {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
  // outline: 2px solid red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  // max-width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--white);
  color: var(--matt-black);

  @media screen and (min-width: 2000px) {
    margin-bottom: 1.5rem;
  }
}
.ordHist__item-id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  padding: 0.3rem;
  p:last-child {
    font-size: 0.8rem;
  }

  @media screen and (min-width: 2000px) {
    max-width: 1200px;
    // margin-top: 5rem;
    padding: 1rem;
  }
}

.item-orderDetails {
  width: 100%;
  padding: 0.5rem;
  //   outline: 2px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 2000px) {
    padding: 1rem 1.5rem;
  }
}

.orderDetails-dishes {
  // outline: 2px solid black;
  max-width: 300px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  list-style-type: disc;

  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;

  li {
    // outline: 2px solid blue;
    margin: 0.3rem 0.5rem;
    margin-left: 0;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    background-color: var(--light-green);
  }

  @media screen and (min-width: 2000px) {
    max-width: 900px;

    li {
      border-radius: 10px;
      margin: 1rem 1.5rem;
      margin-left: 0;
      padding: 1rem;
    }
  }
}

.orderDetails-amt {
  
  p {
    padding: 0.5rem 1rem;
    background-color: var(--light-blue);
  }
}
