.app__ordHist {
  flex-direction: column;
  padding: 6rem 0.5rem;
}
.ordHist-itemsList {
  width: 100%;
  max-width: 500px;
  margin-top: 2rem;
}
.ordHist__item {
  width: 100%;
  //   outline: 2px solid red;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  max-width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--white);
  color: var(--matt-black);
}
.ordHist__item-id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  padding: 0.3rem;

  @media screen and (min-width: 2000px) {
    max-width: 1200px;
    margin-top: 5rem;
    padding: 1rem;
  }
}

.item-orderDetails {
  width: 100%;
  padding: 0.5rem;
  //   outline: 2px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
