a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  font-family: var(--font-secondary);
}

.app__container {
  width: 100%;
  min-height: 100vh;
  // padding:2rem;
  // outline:5px solid green;
}

/*center a div*/
.app__flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/* styles for text elements */

.head-text {
  font-family: var(--font-base);
  font-size: 2.5rem;
  text-align: center;
  text-transform: capitalize;

  @media screen and (min-width: 2000px) {
    font-size: 5rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.subhead-text {
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2.4rem;
  }
  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.p-text {
  font-family: var(--font-secondary);
  font-size: 0.7rem;
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 1.6rem;
  }
  @media screen and (max-width: 450px) {
    font-size: 0.6rem;
  }
}

/* style for button element */
.btn {
  padding: 0.7rem 1.2rem;
  border: none;
  font-size: 1rem;
  border-radius: 3px;
  background-color: var(--orange);
  color: var(--white);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: var(--green);
    // color:var(--white);
    // transform: scale(1.1);
  }

  @media screen and (min-width: 2000px) {
    padding: 1.4rem 2.4rem;
    font-size: 2rem;
  }
  @media screen and (max-width: 450px) {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}

.btn-normal-state {
  background-color: var(--light-blue);
  color: black;
}
.btn-hover-state {
  background-color: var(--orange);
  color: white;
}
