@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300;400;500;600&display=swap");

/*
font-family: 'Kaushan Script', cursive;
font-family: 'Poppins', sans-serif;
*/
:root {
  --font-base: "Kaushan Script", "cursive";
  --font-secondary: "Poppins", sans-serif;

  --orange: #ff914d;
  --matt-black: #28282b;
  --white: #ffffff;
  --green: #4caf50;
  --light-green: #c8e6c9;
  --light-blue:#dde9f1;
  --red: #ff0000;
  --yellow:#f6be2b;
  --dark-blue:#0045cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
